  .identificação{
            color: rgb(206, 206, 104);
        }

        .galeria {
            width: 100%;
        }

        body {
            background-color: blanchedalmond
            color(srgb rgb(240, 240, 240) rgb(136, 141, 136) rgb(227, 227, 236));
        }